---
import Layout from '../layouts/Layout.astro';
import TestTool from '../components/tools/TestTool.astro';
---

<Layout title="React Test">
  <main>
    <h1>React Component Test</h1>
    <TestTool />
  </main>
</Layout>